<div class="choose-section">
    <p class="choose">Why Choose Us?</p>
    <div class="choose-container">
        <div class="left-container">
            <h1>Why We Are The Best & Why You <br>
                Should Choose Us?
            </h1>
            <p>Our tutors are highly experienced, globally certified, and equipped with the skills to provide a top-tier
                educational experience. They are carefully selected based on their qualifications, teaching methods, and
                proven success in helping students excel.</p>
                <div>
                    <img class="choose-image" src="https://cdn.pixabay.com/photo/2014/11/22/07/54/consulting-541439_1280.jpg">
                </div>
        </div>
        <div class="right-container">
            <div class="experince-container">
                <h3>01.Expericed & Globally Certified Best <br>
                    World Class Tutors.
                </h3>
                <p>Our tutors bring years of experience in their respective fields, ensuring that you learn from the
                    best. They are well-versed in their subjects and are able to offer personalized instruction that is
                    effective and efficient.</p>
            </div>
            <div class="experince-container">
                <h3>02.Morden Study Style & Routine Daily Routine.
                </h3>
                <p>Our tutors bring years of experience in their respective fields, ensuring that you learn from the
                    best. They are well-versed in their subjects and are able to offer personalized instruction that is
                    effective and efficient.</p>
            </div>
            <div class="experince-container">
                <h3>03.Personalized Learning Plans.
                </h3>
                <p>We understand that every student is unique, and that's why we create tailored learning plans that are
                    designed to meet your individual needs. Whether you're looking to improve your grades or master a
                    new skill, our tutors will guide you every step of the way.</p>
            </div>
            <div class="experince-container">
                <h3>04.State-of-the-Art Learning Tools.
                </h3>
                <p>We utilize the latest technology to enhance the learning experience. From interactive tools to
                    multimedia resources, our teaching is both effective and engaging, providing a modern approach to
                    education.</p>
            </div>
        </div>
    </div>
</div>