
<div>
    <h1>Testimonial</h1>
</div>
<div class="carousel-container">
    <div class="carousel">
      <!-- Loop through the testimonials and display them as carousel items -->
      <div *ngFor="let testimonial of testimonials; let i = index"
           class="carousel-item"
           [ngClass]="{'active': i === currentSlide, 'prev': i === prevSlideIndex(), 'next': i === nextSlideIndex()}">
        <div class="testimonial">
          <img [src]="testimonial.imageUrl">
          <div class="testimonial-content">
            <div class="name">{{ testimonial.author }}</div>
            <div class="title">{{ testimonial.designation }}</div>
            <div class="quote">{{ testimonial.quote }}</div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Navigation buttons -->
    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
  </div>
  
  