<div class="main-container">
    <div>
        <p class="text">Learn the secrets to Life Success, these people<br> have got the key</p>
    </div>
    <div class="container">
        <div style="text-align: center;">
            <p class="number">54K</p>
            <p class="detail">Total Registere Students</p>
        </div>
        <div class="center-box">
            <p class="number">98%</p>
            <p class="detail">Satisfaction Rate</p>
        </div>
        <div class="right-box">
            <p class="number">60%</p>
            <p class="detail">Job Success Rate</p>
        </div>
    </div>
</div>